@import "tailwindcss";

@font-face {
  font-family: "ABC Ginto Light";
  src: url("./assets/fonts/ABCGintoNord-Light-Trial-BF651b7b72913b5.woff")
    format("woff2");
  font-weight: Light;
  font-style: Light;
}

@font-face {
  font-family: "ABC Ginto Medium";
  src: url("./assets/fonts/ABCGintoNord-Medium-Trial-BF651b7b74152a8.woff")
    format("woff2");
  font-weight: Medium;
  font-style: Medium;
}

@font-face {
  font-family: "ABC Ginto Bolder";
  src: url("./assets/fonts/ABCGintoNord-Bold-Trial-BF651b7b71a7e37.woff")
    format("woff2");
  font-weight: bold;
  font-style: bold;
}
* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  /* font-family: "ABC Ginto Normal", sans-serif; */
  color: #fff;
  /* background-image: linear-gradient(to bottom right, black 10%, #1a2081 80%);
  background-repeat: no-repeat; */
}

.heading_h1 {
  font-family: "ABC Ginto Bolder", sans-serif;
  font-size: 3.5rem;
  line-height: 3rem;
}
.nav-link li {
  padding: 0.625rem 1rem;
  text-transform: capitalize;
  font-size: 0.9rem;
  line-height: 1.2rem;
  /* letter-spacing: 0.1rem; */
  cursor: pointer;
  font-family: "ABC Ginto Medium", sans-serif;
  font-weight: 800;
}

.nav-link li:hover {
  background-color: #5865f2;
  border-radius: 1rem;
}

.footer_bottom ul li {
  cursor: pointer;
}

.footer_bottom ul li:hover {
  color: rgb(144, 144, 144);
}

input {
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  outline: none;
  transition: border-color 0.3s ease;
  background-color: #28292e;
}

input:focus {
  border-color: #4f46e5;
}
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
input[type="search"] {
  border: 1px solid rgb(49, 49, 53);
  /* transition: border-color 0.3s ease; */
}
.add_friend > input[type="search"] {
  border: 1px solid #1a1a1e;
  /* transition: border-color 0.3s ease; */
}

.add_friend > input[type="search"]::placeholder {
  font-size: 0.875rem;
}

input[type="search"]:focus {
  border-color: #4f46e5;
}

.arrowUp {
  animation: rotateUp 0.2s ease-in-out forwards;
  color: white;
}
.arrow {
  color: grey;
}

.arrowDown {
  animation: rotateDown 0.2s ease-in-out forwards;
  color: grey;
}
label {
  font-size: 0.8rem;
  font-weight: 600;
}
.red_strike {
  position: relative;
  width: max-content;
}
.red_strike::after {
  content: "*";
  color: rgb(200, 72, 72);
  position: absolute;
  /* font-size: 2px; */
  top: -3px;
  right: -8px;
}

.custom-scroll::-webkit-scrollbar {
  width: 6px;
  border-radius: 16px;
  margin-top: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: white;
  border-radius: 16px;
}
.custom-scroll::-webkit-scrollbar-track {
  background-color: transparent;
}
.server_button {
  background-color: #1d1d1e;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}
.server_button:hover {
  background-color: rgb(78, 84, 239);
}

.navbar h1 {
  padding: 10px;
  display: flex;
  gap: 10px;
  border-radius: 10px;
  font-size: 1rem;
  margin-top: 1px;
  cursor: pointer;
  color: #929292;
}

.profile_icon {
  color: #929292 !important;
}

.profile_icon:hover {
  background-color: rgb(28, 27, 27) !important;
  color: white !important;
}

.navbar h1:hover {
  background-color: rgb(28, 27, 27);
  color: white;
}

.animate {
  animation: show 0.1s ease-in-out forwards;
}

.friend_card {
  cursor: pointer;
}

.friend_card:hover {
  background-color: #242428;
}

@keyframes show {
  from {
    transform: scale(0.6) rotate(60deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
}

@keyframes rotateUp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateDown {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
