@import "tailwindcss";

@font-face {
  font-family: "ABC Ginto Light";
  src: url("./assets/fonts/ABCGintoNord-Light-Trial-BF651b7b72913b5.woff")
    format("woff2");
  font-weight: Light;
  font-style: Light;
}

@font-face {
  font-family: "ABC Ginto Medium";
  src: url("./assets/fonts/ABCGintoNord-Medium-Trial-BF651b7b74152a8.woff")
    format("woff2");
  font-weight: Medium;
  font-style: Medium;
}

@font-face {
  font-family: "ABC Ginto Bolder";
  src: url("./assets/fonts/ABCGintoNord-Bold-Trial-BF651b7b71a7e37.woff")
    format("woff2");
  font-weight: bold;
  font-style: bold;
}
* {
  /* margin: 0; */
  /* padding: 0; */
  box-sizing: border-box;
}

body {
  /* min-height: 100vh; */
  /* font-family: "ABC Ginto Normal", sans-serif; */
  color: #fff;
  /* background-image: linear-gradient(to bottom right, black 10%, #1a2081 80%);
  background-repeat: no-repeat; */
}

.heading_h1 {
  font-family: "ABC Ginto Bolder", sans-serif;
  font-size: 3.5rem;
  line-height: 3rem;
}
.nav-link li {
  padding: 0.625rem 1rem;
  text-transform: capitalize;
  font-size: 0.9rem;
  line-height: 1.2rem;
  /* letter-spacing: 0.1rem; */
  cursor: pointer;
  font-family: "ABC Ginto Medium", sans-serif;
  font-weight: 800;
}

.nav-link li:hover {
  background-color: #5865f2;
  border-radius: 1rem;
}

.footer_bottom ul li {
  cursor: pointer;
}

.footer_bottom ul li:hover {
  color: rgb(144, 144, 144);
}

.arrowUp {
  animation: rotateUp 0.2s ease-in-out forwards;
  color: white;
}
.arrow {
  color: grey;
}

.arrowDown {
  animation: rotateDown 0.2s ease-in-out forwards;
  color: white;
}

@keyframes rotateUp {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes rotateDown {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
